\obj
CleanBrilliantCompany/.env
/CleanBrilliantCompany/bin/Debug
/CleanBrilliantCompany/obj/Debug
/CleanBrilliantCompany/obj/Debug
/CleanBrilliantCompany/obj/Debug/net9.0
/CleanBrilliantCompany/obj
\bin
.vs/
.vscode/
.idea/
.env
/.vs
/CleanBrilliantCompany/.env
